

<%= render 'spree/admin/shared/order_tabs', current: :print_label %>


    <% if ! @label.stat.nil? %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "Une etiquette a été créée", admin_order_label_path(@order, @label) %>
      </div>
    </div>
    <% end %>
    
    <%= form_for [:admin, @order, @label] do |f| %>
        <div class="form-group row">
            <%= f.label :Enseigne, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Enseigne, value: "BDTEST13", class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :ModeCol, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :ModeCol, value: "CCC", class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :ModeLiv, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :ModeLiv, value: "24R", class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :NDossier, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :NDossier, value: @order.shipments.first['number'] , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Langage, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Langage, value: "FR" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Ad1, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Ad1, value: "ElBsissa.com" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Ad3, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Ad3, value: "75 RUE JEAN AMADO" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Ad4, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Ad4, value: "BAT C03" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Ville, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Ville, value: "AIX EN PROVENCE" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_CP, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_CP, value: "13090" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Pays, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Pays, value: "FR" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Tel1, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Tel1, value: "0033617186090" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Expe_Mail, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Expe_Mail, value: "daly_toulousain@hotmail.fr" , class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Langage, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Langage, value: @order.ship_address.country['iso'] == "FR" ? "FR" : "EN", class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Ad1, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Ad1, value: (@order.ship_address['firstname'] + ' ' + @order.ship_address['lastname']), class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Ad3, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Ad3, value: @order.ship_address['address1'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Ad4, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Ad4, value: @order.ship_address['address2'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Ville, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Ville, value: @order.ship_address['city'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_CP, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_CP, value: @order.ship_address['zipcode'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Pays, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Pays, value: @order.ship_address.country['iso'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Tel1, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Tel1, value: @order.ship_address['phone'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :Dest_Mail, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :Dest_Mail, value: @order.email, class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :POIDS_EN_GRAMME, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :weight, class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :NbColis, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :NbColis, value: "1", class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :CRT_Valeur, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :CRT_Valeur, value: "0", class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :COL_Rel_Pays, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :COL_Rel_Pays, class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :COL_Rel, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :COL_Rel, class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :LIV_Rel_Pays, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :LIV_Rel_Pays, value: @order.ship_address.country['iso'], class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :LIV_Rel, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :LIV_Rel, value: @order.relais.last.number, class: 'form-control'  %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :key, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-10">
            <%= f.text_field :key, value: "PrivateK", class: 'form-control'  %>
            </div>
        </div>
        
        <%= f.submit "Create a label", class: "btn btn-primary" %>
    
    <% end %>
    


