<%= render 'spree/admin/shared/order_tabs', current: :print_label %>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>STAT</th>
      <th>POIDS</th>
      <th>N° Expedition</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @label.id %></th>
      <td><%= @label['stat'] unless @label['stat'].blank? %></td>
      <td><%= @label['weight'] unless @label['weight'].blank? %></td>
      <td><%= @label['expeditionnum'] unless @label['expeditionnum'].blank? %></td>
      <td><%= @label['url_etiquette'] unless @label['url_etiquette'].blank? %></td>
    </tr>
  </tbody>
</table>
