<% if @order.relay? %>
      <li<%== ' class="active"' if current == :print_label %> data-hook='admin_order_tabs_print_label'>
        <%= link_to_with_icon 'wrench', Spree.t(:print_label), new_admin_order_label_path(@order) %>
      </li>
<% end %>