    <div id="Zone_Widget"></div>  
    
    <div style="padding:8px; overflow:auto; display:none;">  
        <div style="background:#edffb2; border:solid 1px #a5f913; padding:5px; font-family:verdana; font-size:10px;">  
            <em>Livraison en point relais</em><br/><br/>  
              <%= form.check_box :relay, id: "mondial_checkbox" %>
        </div>  
    </div>
  
    <div id="selectionrelais" style="padding:8px; overflow:auto;">  
        <div style="background:#edffb2; border:solid 1px #a5f913; padding:5px; font-family:verdana; font-size:10px;">  
            <divstyle="vertical-align:top;">  
                <span style="font-weight:bold;text-decoration:underline;">Point Relais sélectionné:</span><br/> 
                <span id="TargetDisplayInfoPR_Widget" /> 
            </div>  
              
            <div style="display:none;">  
                <!-- Les balises suivantes sont utilisées dans la fonction de CallBack pour reçevoir des données à afficher -->  
                <span style="font-weight:bold;text-decoration:underline;">Callback zone</span><br/>  
                <%= form.fields_for :relais, @relais do |relai_fields| %>
                    ID  : <%= relai_fields.text_field :number, id: 'cb_ID' %>
                    Name: <%= relai_fields.text_field :name, id: "cb_Nom" %>
                    Address: <%= relai_fields.text_field :address, id: "cb_Adresse" %>
                    CP: <%= relai_fields.text_field :cp, id: "cb_CP" %>
                    City: <%= relai_fields.text_field :city, id: "cb_Ville" %>
                    Country: <%= relai_fields.text_field :country, id: "cb_Pays" %>
                <% end %> 
            </div>  
        </div>  
    </div>  
            
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9QLZdr1ayE-lYNKkQhTmkeO8e5bvmwZM"></script>  
            <script type="text/javascript"> 
            
             
  
            var t;  
  
            // Avec jQuery, exécute le script entre accolades uniquement après le chargement complet de la page  
                $(document).ready(function () {
                // Charge le widget dans la DIV d'id "Zone_Widget" avec les paramètres indiqués 
                 var country = "<%= "#{@order.ship_address.country['iso']}" %>";
                 var postal = "<%= @order.ship_address['zipcode'] %>";
                 $("#Zone_Widget").MR_ParcelShopPicker({  
                    // Target: "#Target_Widget"                                // Selecteur JQuery de l'élément dans lequel sera renvoyé l'ID du Point Relais sélectionné (généralement un champ input hidden)  
                    //, TargetDisplay: "#TargetDisplay_Widget"                // Selecteur JQuery de l'élément dans lequel sera renvoyé l'ID du Point Relais sélectionné (secondaire pour affichage)  
                    TargetDisplayInfoPR: "#TargetDisplayInfoPR_Widget"    // Selecteur JQuery de l'élément dans lequel seront renvoyé les coordonnées complètes de la selection de l'utilisateur  
                    , Brand: "BDTEST  "                                     // Le code client Mondial Relay  
                                                                            // Lorsqu'il est indiqué "BDTEST  ", un message d'avertissement apprait pour avertir que ce sont les paramètres de test qui sont utilisés  
                    , Country: country                                      // Code ISO 2 lettres du pays utilisé pour la recherche  
                    //,AllowedCountries: "FR,ES"                            // Liste des pays selectionnable par l'utilisateur pour la recherche (codes ISO 2 lettres séparés par des virgules)  
                    , PostCode: postal                                      // Code postal pour lancer une recherche par défaut  
                    //,EnableGeolocalisatedSearch: "true"                   // Active ou non la possibilité d'effectuer la recherche sur la position courante lorsque le navigateur de l'utilisateur supporte cette fonction (demande au navigateur)  
                    , ColLivMod: "24R"                                      // Permet de filtrer les Points Relais selon le mode de livraison utilisé (Standard [24R], XL [24L], XXL [24X], Drive [DRI])  
                    //,Weight: ""                                           // Permet de filtrer les Points Relais selon le Poids (en grammes) du colis à livrer  
                    , NbResults: "7"                                       // Nombre de Point Relais à afficher  
                    //,SearchDelay: "3"                                     // Permet de spécifier le nombre de jour entre la recherche et la dépose du colis dans notre réseau  
                    //,SearchFar: ""                                        // Permet de limiter la recherche des Points Relais à une distance maximum  
                    //,CSS: "1"                                             // Permet de spécifier que vous souhaitez utiliser votre propre feuille de style CSS lorsque vous lui donnez la valeur "0"  
                    ,MapScrollWheel: true                                   // Active ou non le zoom on scroll sur la carte des résultats  
                    //,MapStreetView: "false"                               // Active ou non le mode Street View sur la carte des résultats (attention aux quotas imposés par Google)  
                    ,ShowResultsOnMap: true                                 // Active ou non l'affichage des résultats sur une carte  
                    , DisplayMapInfo: true                                  // Active ou non l'affichage d'une popup sur la carte avec les informations du point relais  
                    , OnParcelShopSelected:                                 // Permet l'appel d'une fonction lors de la selection d'un Point Relais  
                        function (data) {                                   // Implémentation de la fonction de traitement, le paramètre Data contient un objet avec les informations du Point Relais  
  
                            // Remplace les données de la balise ayant l'Id "cb_ID" par le contenu html de data.ID  
                            // "data" est le paramètre reçu par la fonction, sont contenu est inconnu à la compilation  
                            // "ID" est contenu dans "data", il pourrait y avoir une erreur si "ID" n'existe pas dans la variable "data" reçue en paramètre  
                            $("#cb_ID").val(data.ID);  
  
                            $("#cb_Nom").val(data.Nom);  
                            $("#cb_Adresse").val(data.Adresse1 + ' ' + data.Adresse2);  
                            $("#cb_CP").val(data.CP);  
                            $("#cb_Ville").val(data.Ville);  
                            $("#cb_Pays").val(data.Pays);  
                            $('#mondial_checkbox').prop('checked', true);
                        }  
                });
                
                
                });
                
                
                
                $('input:radio[name="order[shipments_attributes][0][selected_shipping_rate_id]"]').change(function(){
                var parent = $(this).closest("label");
                var kid = parent.children("span.rate-name").eq(0);
                  if (this.checked && kid.html() == 'Livraison chez votre marchand'){
                    $("#Zone_Widget").children().show();
                    $("#selectionrelais").show();
                 } else {
                    $("#Zone_Widget").children().hide();
                    $('#mondial_checkbox').prop('checked', false);
                    $("#cb_ID").val('');  
                    $("#cb_Nom").val('');  
                    $("#cb_Adresse").val('');  
                    $("#cb_CP").val('');  
                    $("#cb_Ville").val('');  
                    $("#cb_Pays").val('');
                    $("#TargetDisplayInfoPR_Widget").html('');
                    $("#selectionrelais").hide();
                 };
                 });
                 
                $(window).load(function() {
                    var button1 = $('input:radio[name="order[shipments_attributes][0][selected_shipping_rate_id]"]:checked');
                    var parent1 = button1.closest("label");
                    var kid1 = parent1.children("span.rate-name").eq(0);
                    if (kid1.html() != 'Livraison chez votre marchand'){
                        $("#Zone_Widget").children().hide();
                        $("#selectionrelais").hide();
                    };
                     
                    jQuery("#checkout_form_delivery").validate({
                        ignore: "",
                         rules: {
                             "order[relais_attributes][0][number]": {
                                 required: {
                                 depends: function(element){
                                     return $("#Zone_Widget").children(":first").css("display") != 'none';
                                 }
                                 }
                             }
                         },
                         messages: {
                             "order[relais_attributes][0][number]": {
                                 required: "Merci de sélectionner un point relais ou un autre moyen de livraison avant de continuer"
                             }
                         },
                         errorPlacement: function(error, element) {
                            error.prependTo("#methods");
                          }
                     }); 
                });
        </script>  